registry=https://repo.intranet.pags/artifactory/api/npm/npm-all
loglevel=warn
email=l-adm-pagseguro-frontend@uolinc.com
sass_binary_site=https://repo.intranet.pags/artifactory/node-sass
engine-strict=true
unsafe-perm=true
strict-ssl=false
legacy-peer-deps=true
